@font-face {
    font-family: bn;
    src: url(bn.otf);
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #6A1B9A;
    transition: background-color 0.3s ease-in-out;
}
.outer {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.inner {
    font-family: bn;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px #1a1a1a;
}
.textbox-container {
    position: relative;
    border-radius: 5px;
    display: inline-block;
    font-size: 40px;
    width: 390px;
    height: 0;
    background-color: #6A1B9A;
    animation: reveal 0.3s ease-in-out;
}
@keyframes reveal{
    0%{height: 0;background-color: #6A1B9A;}
    100%{height: 50px;background-color: #4A148C;}
}
.textbox {
    color: #a9a9a7;
    font-family: bn;
    font-size: 20px;
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: #4A148C;
    visibility: hidden;
    border: none;
    outline: none;
    width: 340px;
    height: 40px;
}
.submit {
    width: 1px;
    height: 1px;
    position: fixed;
    left: -800px;
    top: 0;
}
.submit-arrow {
    right: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}
.footer {
    position: fixed;
    bottom: 5px;
    left: 10px;
    z-index: 20;
    font-family: bn;
    font-size: 20px;
    color: #4a136c;
}
@media (max-width: 500px){
    .inner {
        width: 300px;
        font-size: 30px;
    }
    .textbox-container {
        font-size: 20px;
        width: 300px;
    }
    .textbox {
        width: 250px;
    }
}
